@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra {
    background-color: #f7f8f9;
    position: fixed;
    top: 0;
    left: v.$sidebar-width;
    right: 0;
    height: v.$barra-height;
    z-index: v.$z-barra;
    font-family: v.$fuente_headings;
    padding-left: 20px;

    .breadcrumbs {
        font-size: 1.3rem;
        color: v.$grisOscuro;
        
        a {
            color: v.$azul;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .nombre-pagina {
        position: absolute;
        left: 47%;
        bottom: -3rem;
        transform: translateX(-50%);
        font-size: 1.8rem;
        font-weight: 700; /* Más grueso */
        color: v.$azul; /* Color primario */
        white-space: nowrap;
        text-align: center;
        margin: 0;
        padding: 0.7rem 2rem;
        background: rgba(v.$blanco, 0.95);
        border-radius: 0.8rem;
        box-shadow: 
            0 4px 15px rgba(167, 154, 154, 0.1),
            0 0 0 1px rgba(v.$azul, 0.2);
        backdrop-filter: blur(5px); /* Efecto vidrio */
        border: 1px solid rgba(v.$azul, 0.1);
        transition: all 0.3s ease;
        
        &:hover {
            transform: translateX(-50%) scale(1.02);
            box-shadow: 
                0 6px 20px rgba(0,0,0,0.15),
                0 0 0 1px rgba(v.$azul, 0.3);
        }
    }
        

    .user-menu {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        background-color: #f7f8f9;

        .saludo-usuario {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-weight: 600;


            p {
                margin: 0;
                font-size: 1.6rem;
                font-weight: 600;
                color: v.$negro;

                strong {
                    color: v.$azul;
                }
            }
    
        }    
        .btn-outline-danger {
            border: 1px solid v.$danger;
            color: v.$danger;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            text-decoration: none;
            transition: all 0.3s ease;
            margin-left: auto;
            &:hover {
                background-color: v.$danger;
                color: v.$blanco;
            }

            i {
                margin-right: 0.5rem;
            }
        }
    }
}